#chat-body {
	background-color: var(--chat-bg);

	max-height: calc(var(--vh, 1vh) * 100 - 180px);
	height: calc(var(--vh, 1vh) * 100 - 180px);
	display: flex;
	flex-direction: column;
	justify-content: start;
}

/*----------*/

#messagesContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: calc(var(--vh, 1vh) * 100 - 180px);
	flex: 10 1 auto;
	padding: 15px;
	margin-bottom: 50px;
}

/*TYPING USERS*/
#typingUsersContainer {
	position: absolute;
	bottom: 11ch;
	right: 1rem;
	width: 100%;
	text-align: end;
	font-weight: 800;
	color: var(--user-typing-text);
	justify-items: end;
}
#typingUsersContainer > * {
	position: relative;
}

#footer {
	position: relative;
}
/* -------- 
FORM INPUT & SUBMIT BTN*/
#form {
	background: var(--form-bg);
	padding: 0.1rem;
	position: relative;

	display: flex;
	height: 11ch;
	box-sizing: border-box;
}
#form button {
	background-color: var(--navbar-bg) !important;
	color: var(--navbar-text);
}
#messageInputField {
	border: none;
	padding: 0 1rem;
	flex-grow: 1;
	border-radius: 0.5ch;
	margin: 0.25rem;
	font-size: 150%;
	resize: none;
	text-align: start;

	line-height: 80px;
}

#messageInputField:focus {
	outline: none;
}

#sendMessageButton {
	width: 10rem;
	font-size: larger;
	font-weight: 500;
	margin: 0.25ch 0;
}
/*----------
DEFAULT MESSAGE APPEARANCE*/
.msg * {
	display: flex;
}
.msg {
	position: relative;
	display: flex;
	flex-direction: column;
	width: fit-content;

	overflow-wrap: anywhere;
	padding: 0.5rem;
	border-radius: 0 1rem 1rem 1rem;
	min-width: 25%;
	max-width: 90%;

	background-color: var(--msg-bg);
	box-shadow: rgb(0 0 0 / 25%) 0px 2px 2px 0px, rgb(0 0 0 / 25%) 0px 2px 5px 1px, rgb(0 0 0 / 50%) 0px -2px 0px inset;
}

.msg::before {
	content: '';
	position: absolute;
	width: 1rem;
	aspect-ratio: 1;
	top: 0;
	left: -0.5rem;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
	transform: rotate(180deg);

	background: var(--msg-bg);
}

.msg hr {
	border: solid 0.1ch var(--msg-separator-color);
	margin: 0.5ch 0;
}

.msg-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 30px;
}

.user {
	font-weight: 800;
	justify-content: start;
	color: var(--msg-user-color);
	height: 100%;
}
.user,
.time,
.content {
	margin: 0;
}
.content {
	white-space: pre-wrap;
	justify-content: start;
	color: var(--msg-content-color);
}
.time {
	justify-content: end;
	color: var(--msg-time-color);
	height: 100%;
	margin: 0 0 0 2.5rem;
	width: max-content;
}

/*MSG_LOG----------*/

.msg.log {
	background-color: var(--msg-bg-log);
	min-width: 50%;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.msg.log::before {
	background: var(--msg-bg-log);
}
.msg.log hr {
	display: none;
}

.msg.log msg-header {
	justify-content: left;
}

.msg.log .user {
	display: none;
}
.msg.log .content {
	justify-content: start;
	color: var(--msg-content-color-log);
}
.msg.log .time {
	color: var(--msg-time-color-log);
}

/*MSG_OWNER----------*/

.msg.owner {
	margin-left: auto;
	background-color: var(--msg-bg-owner);
	border-radius: 1rem 0 1rem 1rem;
}

.msg.owner::before {
	width: 0;
}

.msg.owner::after {
	content: '';
	position: absolute;
	width: 1rem;
	aspect-ratio: 1;
	top: 0;
	right: -0.5rem;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
	transform: rotate(180deg);
	background-color: var(--msg-bg-owner);
}
.msg.owner hr {
	border-color: var(--msg-separator-color-owner);
}

.msg.owner .msg-header {
	flex-direction: row-reverse;
}

.msg.owner .user {
	justify-content: end;
	color: var(--msg-user-color-owner);
}
.msg.owner .content {
	color: var(--msg-content-color-owner);
}

.msg.owner .time {
	justify-content: start;
	color: var(--msg-time-color-owner);
	margin: 0 2.5rem 0 0;
}

/*----------*/
