#chat-body {
	background-color: var(--chat-bg);
	width: 100%;

	display: flex;
	flex-direction: column;
}

/* -------------------------------------- */
#messages {
	display: flex;
	flex-direction: column;
	gap: 0.2ch;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: calc(100vh - 180px);
	flex: 10 1 auto;
	padding: 0.55rem;
}
/* #messages > .msg[class='log']:nth-child(odd) {
	background: #e0e0e0;
} */

/* -------------------------------------- */
.msg * {
	display: flex;
}
.msg {
	position: relative;
	display: flex;
	flex-direction: column;
	width: fit-content;

	overflow-wrap: anywhere;
	padding: 0.5rem;
	border-radius: 0 1rem 1rem 1rem;
	min-width: 15ch;
}
.msg::before {
	content: '';
	position: absolute;
	width: 1rem;
	aspect-ratio: 1;
	top: 0;
	left: -0.5rem;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
	transform: rotate(180deg);
}
.user {
	font-weight: 800;
}
/* -------------------------------------- */

.msg {
	background-color: var(--msg-bg);
}
.msg::before {
	background: var(--msg-bg);
}

.msg hr {
	margin: 0.5ch 0;
}

.user {
	justify-content: start;
	color: var(--msg-user-color);
}
.content {
	justify-content: start;
	color: var(--msg-content-color);
}
.time {
	justify-content: end;
	margin: 0;
	color: var(--msg-time-color);
}

/* -------------------------------------- */
.msg.log {
	background-color: var(--msg-bg-log);
}
.msg.log::before {
	background: var(--msg-bg-log);
}
.msg.log hr {
	display: none;
}

.msg.log .user {
	display: none;
}
.msg.log .content {
	color: var(--msg-content-color-log);
}
.msg.log .time {
	color: var(--msg-time-color-log);
}
/* -------------------------------------- */

.msg.owner {
	margin-left: auto;
	background-color: var(--msg-bg-owner);
	border-radius: 1rem 0 1rem 1rem;
}

.msg.owner::before {
	width: 0;
}

.msg.owner::after {
	content: '';
	position: absolute;
	width: 1rem;
	aspect-ratio: 1;
	top: 0;
	right: -0.5rem;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
	transform: rotate(180deg);
	background-color: var(--msg-bg-owner);
}

.msg.owner .user {
	justify-content: end;
	color: var(--msg-user-color-owner);
}
.msg.owner .content {
	color: var(--msg-content-color-owner);
}

.msg.owner .time {
	color: var(--msg-time-color-owner);
}

/* -------------------------------------- 
FORM INPUT & SUBMIT BTN*/
#form {
	background: rgba(0, 0, 0, 0.35);
	padding: 0.1rem;
	position: relative;

	display: flex;
	height: 11ch;
	box-sizing: border-box;
}
#input {
	border: none;
	padding: 0 1rem;
	flex-grow: 1;
	border-radius: 0.5ch;
	margin: 0.25rem;
}
#input:focus {
	outline: none;
}

#btn_send {
	width: 10rem;
	font-size: larger;
	font-weight: 500;
	margin: 0.25ch 0;
}
/* -------------------------------------- */
