html {
	min-height: 100vh !important;
	padding: 0;
	margin: 0;
}
#container {
	display: flex;
	flex-direction: row;
	margin-top: 75px;
	margin-bottom: 80px;
	width: 100%;
	height: calc(100vh - 75px);
}

body {
	background-color: black;

	height: 100vh;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

nav {
	height: 75px;
	z-index: 100;
}

/*=============================
TYPING USERS*/
#typing-users {
	position: fixed;
	right: 0;
	bottom: 80px;

	color: rgba(107, 107, 107, 0.9);
}
/*=============================
NEW MESSAGE POPUP*/
#new-message {
	position: fixed;
	bottom: 85px;
	right: 0px;
	aspect-ratio: 1;
	width: 50px;
}
#new-message::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--bs-success);
	width: 50px;
	height: 50px;
	border-radius: 50% 50% 0 50%;
	transform: rotate(45deg);
}

#new-message::after {
	content: 'new!';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: var(--bs-warning);
}

#new-message:hover {
	cursor: pointer;
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--bs-secondary);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--bs-light);
	border-radius: 20px;
	border: 3px solid var(--bs-secondary);
}
