@import '../scss/bootstrap.scss';

/*----------*/

:root {
	--meta-theme-color: var(--page-bg);

	--page-bg: #efeae2;

	--text: #111b21;
	--username-btn: #084227;
	--username-btn-text: #fafa00;

	--navbar-bg: #08ac84;
	--navbar-text: black;

	--sidebar-bg: #00806a;
	--sidebar-text-color: white;
	--sidebar-online-users-bg1: #005e4e;
	--sidebar-online-users-bg2: #004b3e;
	--sidebar-online-users-hover: #004b3e;

	--toggler-bg: #535061;
	--toggler-color: whitesmoke;

	--chat-bg: var(--page-bg);

	--msg-inside-shadow: rgb(0 0 0 / 50%);
	--msg-outside-shadow: rgb(0 0 0 / 25%);

	--msg-bg: #ffffff;
	--msg-user-color: #25d366;
	--msg-content-color: var(--text);
	--msg-time-color: var(--text);
	--msg-separator-color: var(--text);

	--msg-bg-log: #494949;
	--msg-user-color-log: whitesmoke;
	--msg-content-color-log: #f7e48f;
	--msg-time-color-log: #e3e3e3;

	--msg-bg-owner: #d8fed5;
	--msg-user-color-owner: #0c5947;
	--msg-content-color-owner: var(--text);
	--msg-time-color-owner: var(--text);
	--msg-separator-color-owner: var(--text);

	--form-bg: #bebebe;
	--form-btn-bg: #08ac84;
	--user-typing-text: var(--text);

	--new-msg-bg: #7cff7c;
	--new-msg-text-color: #6500ad;
}

:root body.darkTheme {
	--meta-theme-color: var(--page-bg);

	--page-bg: rgb(20, 40, 55);

	--text: #ffffff;
	--username-btn: #fafa00;
	--username-btn-text: #0b141a;

	--navbar-bg: #202c33;
	--navbar-text: var(--text);

	--sidebar-bg: #111b21;
	--sidebar-text-color: white;
	--sidebar-online-users-bg1: #202c33;
	--sidebar-online-users-bg2: #0b141a;
	--sidebar-online-users-hover: #014237;

	--toggler-bg: gray;
	--toggler-color: white;

	--chat-bg: var(--page-bg);

	--msg-inside-shadow: rgba(255, 255, 255, 0.25);
	--msg-outside-shadow: rgba(255, 255, 255, 0.5);

	--msg-bg: #202c33;
	--msg-user-color: #01c194;
	--msg-content-color: var(--text);
	--msg-time-color: var(--text);
	--msg-separator-color: var(--text);

	--msg-bg-log: #494949;
	--msg-user-color-log: whitesmoke;
	--msg-content-color-log: #f7e48f;
	--msg-time-color-log: #e3e3e3;

	--msg-bg-owner: #005c4c;
	--msg-user-color-owner: white;
	--msg-content-color-owner: var(--text);
	--msg-time-color-owner: var(--text);
	--msg-separator-color-owner: var(--text);

	--form-bg: rgb(0, 0, 0);
	--form-btn-bg: #697177;
	--user-typing-text: #00d09e;

	--new-msg-bg: #7cff7c;
	--new-msg-text-color: #6500ad;
}

/*----------*/
#navbar {
	height: 90px;
	z-index: 10;
	background: var(--navbar-bg);
	color: var(--navbar-text);
}

#meta-theme {
	content: var(--meta-theme-color);
}
#changeNickButton {
	background: var(--username-btn);
	color: var(--username-btn-text);
	width: fit-content;
	font-weight: 600;
}
/*=============================

/*=============================
NEW MESSAGE POPUP*/
#new-message {
	z-index: 100;
	position: absolute;
	bottom: 11ch;
	left: 0.1rem;
	aspect-ratio: 1;
	width: 45px;
	font-weight: 800;
	font-size: large;
}
#new-message::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--new-msg-bg);
	width: 45px;
	height: 45px;
	border-radius: 50% 50% 0 50%;
	transform: rotate(45deg);
}

#new-message::after {
	content: 'new!';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: var(--new-msg-text-color);
}

#new-message:hover {
	cursor: pointer;
}

/*----------*/

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--bs-secondary);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--bs-light);
	border-radius: 20px;
	border: 3px solid var(--bs-secondary);
}

/*----------*/

body {
	background-color: var(--page-bg) !important;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	overflow: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

/*----------*/

html {
	width: 100vw;
	width: calc(var(--vw, 1vw) * 100);
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);

	/* max-width: 100vw;
	max-width: var(--vw, 1px);
	max-height: 100vh; /* Fallback for browsers that do not support Custom Properties *
	max-height: var(--vh, 1px); 
	*/

	background: var(--page-bg);
	float: none !important;
}
/* ----------*/
.msg > h1,
h2,
h3,
h4,
h5,
h6 {
	align-items: center;
}

* {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}
