#themeSwitch {
	position: absolute;
	top: -100vh;
}

#themeButton {
	width: var(--theme-btn-width);
	height: var(--theme-btn-height);
}
#themeButton label {
	height: 100%;
	width: 100%;
	background-color: var(--toggler-bg) !important;
	border-radius: 10em;
	position: relative;
	cursor: pointer;
}
#themeButton label .toggle {
	position: absolute;
	width: 50%;
	height: 100%;
	border-radius: 10em;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	transition: transform 0.3s ease-in-out;
}

#themeSwitch:checked + #themeButton label .toggle {
	transform: translateX(100%);
	background-color: #535061;
}

#themeButton .dark,
#themeButton .light {
	color: whitesmoke;
}
#themeButton label {
	display: flex;
	align-items: center;
}
#themeText {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 15%;
}
#themeText p {
	display: flex;
	font-size: var(--theme-btn-font-size);

	line-height: 100%;
	margin-bottom: 0;
	user-select: none;
	font-weight: bold;
}
/*----------*/
